@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

body {
  font-family: 'Tinos';
}

::-moz-selection {
  background: #E2D4FF;
}

::selection {
  background: #E2D4FF;
  color: black;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}